<% provide(:title, "编辑用户信息") %> 
<h1>更新您的信息</h1>
<div class="row">
  <div class="span6 offset3">
  <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= f.label :name,"用户名" %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.label :password, "密码" %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "确认密码" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "更新", :class => "btn btn-large btn-primary" %>
    <% end %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">修改</a>
  </div>
</div>